__pycache__/
.ipynb_checkpoints/
.pixi/
.virtual_documents
*.doit.*
*.sqlite*
build/
dist/
docs/coverage
docs/minified.ipynb
docs/my_package
docs/mypy
docs/pytest.html
site
lite/files/pyodide-lock.json
