"$schema" = "https://pixi.sh/v0.34.0/schema/manifest/schema.json"

[project]
name = "importnb"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[tasks]
fix = {depends-on = ["fix-taplo", "fix-ruff", "fix-nbstripout"]}
lint = {depends-on = ["lint-ruff", "lint-mypy"]}
test = {depends-on = ["test-pytest"]}
build = {depends-on = ["build-lark", "build-sdist", "build-wheel"]}
release = {depends-on = ["fix", "lint", "build", "test"]}

# fragments ####################################################################
pip-- = "python -m pip install -vv --no-deps --ignore-installed --no-build-isolation"
pip-check-- = """
export FREEZES=build/reports/pip-freeze
&& export FROZEN=$FREEZES/$PIXI_ENVIRONMENT_NAME.txt
&& rm -rf $FROZEN
&& python -m pip check
&& mkdir -p $FREEZES
&& python -m pip list --format=freeze > $FROZEN
"""
pip-e-- = "pixi r pip-- -e . && pixi r pip-check--"
pip-whl-- = "pixi r pip-- --find-links=dist --no-index importnb && pixi r pip-check--"

# build ########################################################################
[feature.tasks-build.tasks.build-lark]
cmd = '''
python hatch_build.py > src/importnb/_json_parser.py
'''
inputs = ["src/importnb/json.g"]
outputs = ["src/importnb/_json_parser.py"]

[feature.tasks-build.tasks.build-sdist]
cmd = "pyproject-build . --sdist --no-isolation"
inputs = ["pyproject.toml", "src/**/*.{py,g}", "{README.md,LICENSE,LICENSE-MPL-2.0}"]
outputs = ["dist/*.tar.gz"]

[feature.tasks-build.tasks.build-wheel]
cmd = "pyproject-build . --wheel --no-isolation"
inputs = ["pyproject.toml", "src/**/*.{py,g}", "{README.md,LICENSE,LICENSE-MPL-2.0}"]
outputs = ["dist/*.whl"]

# test #########################################################################
[feature.tasks-test.tasks.pip-test]
cmd = """pixi r -e test pip-e--"""
outputs = ["build/reports/pip-freeze/test.txt"]
inputs = ["pyproject.toml"]

[feature.tasks-test.tasks.test-pytest]
cmd = """
pytest
  --cov importnb
  --cov-branch
  --cov-context test
  --cov-report html
  --cov-report term-missing:skip-covered
  --no-cov-on-fail
"""
inputs = [
  "pyproject.toml",
  "{docs,src}/**/*.{py,ipynb}",
  "!**/.ipynb_checkpoints",
  "build/reports/pip-freeze/test.txt",
]
depends-on = ["pip-test"]

# lint #########################################################################
[feature.tasks-lint.tasks]
pip-lint = {cmd = """
  pixi r -e lint pip-e--
""", inputs = ["pyproject.toml"], outputs = ["build/reports/pip-freeze/lint.txt"]}
lint-ruff = {cmd = """
  ruff format --check && ruff check
""", inputs = [
  "pyproject.toml",
  "{src,docs}/**/*.{py,ipynb}",
  "!**/.ipynb_checkpoints",
]}
fix-nbstripout = "nbstripout --keep-id --drop-empty-cells docs"
fix-ruff = {cmd = """
  ruff format && ruff check --fix-only
""", inputs = [
  "pyproject.toml",
  "{src,docs}/**/*.{py,ipynb}",
  "!**/.ipynb_checkpoints",
]}
lint-mypy = {cmd = "mypy -p importnb", depends-on = [
  "pip-lint",
], inputs = [
  "build/reports/pip-freeze/test.txt",
  "src/**/*.py",
  "!**/.ipynb_checkpoints",
]}
fix-taplo = {cmd = """
  taplo fmt *.toml
  --option=array_auto_collapse=true
  --option=compact_inline_tables=true
  --option=column_width=88
""", inputs = ["*.toml"]}

# dev ##########################################################################
[feature.tasks-dev.tasks.serve-lab]
cmd = "jupyter lab --no-browser --debug"

# envs #########################################################################
[environments]
dev = ["deps-dev", "deps-check", "deps-lint", "deps-build", "deps-test", "tasks-dev"]
build = ["deps-build", "tasks-build"]
lint = ["deps-build", "deps-pip", "deps-run", "deps-lint", "tasks-lint"]
test = ["deps-test", "deps-build", "deps-pip", "deps-run", "tasks-test"]

# deps #########################################################################
[feature.deps-run.dependencies]
importlib-metadata = ">=4.8.3"

[feature.deps-build.dependencies]
hatchling = "*"
hatch-vcs = "*"
lark = "*"
python-build = "*"

[feature.deps-pip.dependencies]
pip = "*"

[feature.deps-lint.dependencies]
actionlint-with-all = "*"
lxml = "*"
mypy = "*"
nbstripout = "*"
ruff = "*"
taplo = "*"

[feature.deps-test.dependencies]
"ruamel.yaml" = "*"
coverage = "*"
doit = "*"
pytest = "*"
pytest-cov = "*"
tomli-w = "*"

[feature.deps-docs.dependencies]
mkdocs-jupyter = "*"
mkdocs-material = "*"
"ruamel.yaml" = "*"

[feature.deps-check.dependencies]
vale = "*"
pytest-check-links = "*"

[feature.deps-dev.dependencies]
jupyterlab = "*"
notebook = "*"
ipywidgets = "*"
