"$schema" = "https://pixi.sh/v0.34.0/schema/manifest/schema.json"

[project]
name = "importnb"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[tasks]
release = {depends-on = [
  "fix",
  "lint",
  "build",
  "test",
  "docs",
  # TODO: link check and spell check
  # "check",
]}
docs = {depends-on = ["lite-build", "docs-build"]}
test = {depends-on = ["test-pytest", "test-oldest-pytest"]}
build = {depends-on = ["build-lark", "build-pypi"]}
fix = {depends-on = ["fix-taplo", "fix-ruff", "fix-nbstripout"]}
lint = {depends-on = ["lint-ruff", "lint-mypy-src", "lint-mypy-dev", "lint-actionlint"]}

# fragments ####################################################################
pip-- = """python -m pip install
  -vv
  --no-deps
  --ignore-installed
  --no-build-isolation
  --disable-pip-version-check"""
pip-check-- = """
export FREEZES=build/reports/pip-freeze
&& export FROZEN=$FREEZES/$PIXI_ENVIRONMENT_NAME.txt
&& rm -rf $FROZEN
&& python -m pip check
&& mkdir -p $FREEZES
&& python -m pip list --format=freeze > $FROZEN
"""
pip-e-- = "pixi r pip-- -e . && pixi r pip-check--"
pip-whl-- = "pixi r pip-- --find-links=dist --no-index importnb && pixi r pip-check--"
pytest-- = """pytest
  --cov importnb
  --cov-branch
  --cov-context test
  --cov-report term-missing:skip-covered
  --no-cov-on-fail
  """
mkdocs-- = """export JUPYTER_PLATFORM_DIRS=1
&& mkdocs"""

# build ########################################################################
[feature.tasks-build.tasks.build-lark]
cmd = '''
python hatch_build.py > src/importnb/_json_parser.py
'''
inputs = ["src/importnb/json.g"]
outputs = ["src/importnb/_json_parser.py"]

[feature.tasks-build.tasks.build-pypi]
cmd = """
rm -rf dist/
&& pyproject-build . --no-isolation
"""
depends-on = ["build-lark"]
inputs = [
  "{docs,src}/**/*.{g,ipy,ipynb,py}",
  "{README.md,LICENSE*,hatch_build.py,pyproject.toml}",
  "!**/coverage",
]
outputs = ["dist/*.{whl,tar.gz}"]

# test #########################################################################
[feature.tasks-test.tasks.pip-test]
cmd = """pixi r -e test pip-e--"""
outputs = ["build/reports/pip-freeze/test.txt"]
inputs = ["pyproject.toml"]

[feature.tasks-test.tasks.test-pytest]
cmd = """pixi r -e test pytest--
  --cov-report=html:docs/coverage
  --self-contained-html
  --html=docs/pytest.html
"""
depends-on = ["pip-test"]
inputs = [
  "pyproject.toml",
  "{docs,src}/**/*.{g,ipy,ipynb,py}",
  "!**/.ipynb_checkpoints",
  "build/reports/pip-freeze/test.txt",
]

# test oldest ##################################################################
[feature.tasks-test-oldest.tasks.pip-test-oldest]
cmd = """pixi r -e test-oldest pip-whl--"""
outputs = ["build/reports/pip-freeze/test-oldest.txt"]
inputs = ["dist/*.whl"]

[feature.tasks-test-oldest.tasks.test-oldest-pytest]
cmd = """pixi r -e test-oldest pytest--"""
depends-on = ["pip-test-oldest"]
inputs = [
  "pyproject.toml",
  "{docs,src}/**/*.{g,ipy,ipynb,py}",
  "!**/.ipynb_checkpoints",
  "build/reports/pip-freeze/test-oldest.txt",
]

# docs #########################################################################
[feature.tasks-docs.tasks.pip-docs]
cmd = """pixi r -e docs pip-whl--"""
outputs = ["build/reports/pip-freeze/docs.txt"]
inputs = ["dist/*.whl"]

[feature.tasks-docs.tasks.docs-build]
cmd = """
pixi r mkdocs-- build
"""
depends-on = ["pip-docs", "lite-build"]
inputs = [
  "docs/",
  "src/",
  "build/lite/SHA256SUMS",
  "{mkdocs.yml,README.md,CONTRIBUTING.md}",
  "!**/{.ipynb_checkpoints,__pycache__,coverage}/",
]
outputs = ["site/", "!site/lite/"]

[feature.tasks-docs.tasks.serve-docs]
cmd = "pixi r mkdocs-- serve"
depends-on = ["docs-build"]

# lite #########################################################################
[feature.tasks-lite.tasks.lite-build]
cmd = """
export SOURCE_DATE_EPOCH=17302488620
&& cd lite
&& jupyter lite build
&& jupyter lite doit -- pre_archive:report:SHA256SUMS
"""
inputs = [
  "dist/*.whl",
  "docs/",
  "lite/",
  "!**/*.doit*",
  "!**/{.ipynb_checkpoints,__pycache__,coverage}",
]
outputs = ["build/lite/SHA256SUMS"]
depends-on = ["build-pypi"]

# lint #########################################################################
[feature.tasks-lint.tasks.pip-lint]
cmd = """pixi r -e lint pip-e--"""
inputs = ["pyproject.toml"]
outputs = ["build/reports/pip-freeze/lint.txt"]

[feature.tasks-lint.tasks.fix-nbstripout]
cmd = "nbstripout --keep-id --drop-empty-cells docs"
inputs = ["docs/**/*.ipynb", "!**/.ipynb_checkpoints"]

[feature.tasks-lint.tasks.fix-ruff]
cmd = """ruff format && ruff check --fix-only"""
inputs = ["pyproject.toml", "{docs,src}/**/*.{g,ipy,ipynb,py}", "!**/.ipynb_checkpoints"]

[feature.tasks-lint.tasks.fix-taplo]
cmd = """
  taplo fmt *.toml
  --option=array_auto_collapse=true
  --option=compact_inline_tables=true
  --option=column_width=100
"""
inputs = ["*.toml"]

[feature.tasks-lint.tasks.lint-mypy-src]
cmd = """
rm -rf docs/mypy
&& mypy -p importnb --html-report docs/mypy
"""
depends-on = ["pip-lint"]
inputs = [
  "build/reports/pip-freeze/lint.txt",
  "pyproject.toml",
  "src/**/*.py",
  "!**/.ipynb_checkpoints",
]
outputs = ["docs/mypy"]

[feature.tasks-lint.tasks.lint-mypy-dev]
cmd = """mypy *.py docs/**/*.py lite/**/*.py"""
depends-on = ["pip-lint"]
inputs = [
  "{docs,lite}/**/*.py",
  "*.py",
  "build/reports/pip-freeze/lint.txt",
  "pyproject.toml",
  "!**/.ipynb_checkpoints",
]

[feature.tasks-lint.tasks.lint-ruff]
cmd = """ruff format --check && ruff check"""
inputs = ["pyproject.toml", "{src,docs}/**/*.{py,ipynb}", "!**/.ipynb_checkpoints"]

[feature.tasks-lint.tasks.lint-actionlint]
cmd = "actionlint -shellcheck=shellcheck -pyflakes=pyflakes"
inputs = [".github/workflows"]

# dev ##########################################################################
[feature.tasks-dev.tasks.pip-dev]
cmd = """pixi r -e dev pip-e--"""
outputs = ["build/reports/pip-freeze/dev.txt"]
inputs = ["pyproject.toml"]

[feature.tasks-dev.tasks.serve-lab]
cmd = "jupyter lab --no-browser --debug"
depends-on = ["pip-dev"]

# envs #########################################################################
[environments]
build = ["deps-build", "tasks-build"]
test = ["deps-build", "deps-pip", "deps-run-interactive", "deps-run", "deps-test", "tasks-test"]
test-oldest = [
  "deps-build",
  "deps-pip",
  "deps-run-interactive-oldest",
  "deps-run-interactive",
  "deps-run-oldest",
  "deps-run",
  "deps-test-oldest",
  "deps-test",
  "tasks-test-oldest",
]
docs = ["deps-docs", "deps-build", "deps-run", "deps-pip", "tasks-docs"]
lite = ["deps-lite", "tasks-lite"]
lint = [
  "deps-build",
  "deps-docs",
  "deps-lint",
  "deps-pip",
  "deps-run-interactive",
  "deps-run",
  "deps-test",
  "tasks-lint",
]
dev = [
  "deps-build",
  "deps-dev",
  "deps-docs",
  "deps-lint",
  "deps-lite",
  "deps-pip",
  "deps-run-interactive",
  "deps-run",
  "deps-test",
  "tasks-dev",
]

# deps #########################################################################
[feature.deps-run.dependencies]
importlib-metadata = ">=4.8.3"

[feature.deps-run-oldest.dependencies]
importlib-metadata = "4.8.3"
python = "3.9.*"

[feature.deps-run-interactive.dependencies]
ipython = "*"

[feature.deps-run-interactive-oldest.dependencies]
ipython = "8.7.*"

[feature.deps-build.dependencies]
hatchling = "*"
hatch-vcs = "*"
lark = "*"
python-build = "*"

[feature.deps-pip.dependencies]
pip = "*"

[feature.deps-lint.dependencies]
actionlint-with-all = "*"
lxml = "*"
mypy = "1.13.*"
nbstripout = "*"
ruff = "0.7.*"
taplo = "*"
types-pyyaml = "*"
beartype = "*"

[feature.deps-test.dependencies]
"ruamel.yaml" = "*"
coverage = "*"
doit = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-xdist = "*"
tomli-w = "*"

[feature.deps-test-oldest.dependencies]
pytest = "7.0.*"

[feature.deps-docs.dependencies]
mkdocs-jupyter = "*"
mkdocs-material = "*"
mkdocstrings = "*"
mkdocstrings-python = "*"
"ruamel.yaml" = "*"

[feature.deps-dev.dependencies]
jupyterlab = "*"
notebook = "*"
ipywidgets = "*"
beartype = "*"

[feature.deps-lite.dependencies]
jupyterlite-core = "0.4.3"
jupyterlite-pyodide-kernel = "0.4.3"
jupyterlite-core-with-translation = "*"
jupyterlite-core-with-libarchive = "*"
