name: test

on:
  pull_request:
    branches: ["*"]
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  INB_PIXI_VERSION: 0.44.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build
      - run: pixi r build
      - uses: actions/upload-artifact@v4
        with:
          name: inb-${{ github.run_number }}-dist
          path: |
            ./dist
            ./.pixi/task-cache-v0
            ./build/reports

  lint:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: v${{ env.INB_PIXI_VERSION }}
        cache: true
        environments: lint
    - run: pixi run fix
    - name: print diff
      run: |
        echo "~~~diff" >> "${GITHUB_STEP_SUMMARY}"
        git diff | tee --append "${GITHUB_STEP_SUMMARY}"
        echo "~~~" >> "${GITHUB_STEP_SUMMARY}"
    - run: pixi run lint

  test-pixi:
    needs: [build]
    name: ${{ matrix.vm }} ${{ matrix.test-env }}
    runs-on: ${{ matrix.vm }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {vm: macos-13,       test-env: test-min}
          - {vm: macos-13,       test-env: test-pypy}
          - {vm: macos-latest,   test-env: test}
          - {vm: ubuntu-latest,  test-env: test-min}
          - {vm: ubuntu-latest,  test-env: test}
          - {vm: ubuntu-latest,  test-env: test-pypy}
          - {vm: windows-latest, test-env: test-min}
          - {vm: windows-latest, test-env: test}
          - {vm: windows-latest, test-env: test-pypy}
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: ${{ matrix.test-env }}
      - uses: actions/download-artifact@v4
        with:
          name: inb-${{ github.run_number }}-dist
      - run: pixi r ${{ matrix.test-env }}
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: |-
            inb-${{ github.run_number }}-${{ matrix.vm }}-${{ matrix.test-env }}
          path: |
            ./docs

  docs:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build docs lite
      - uses: actions/download-artifact@v4
        with:
          name: inb-${{ github.run_number }}-dist
      - run: pixi r docs
      - run: pixi r check
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: inb-${{ github.run_number }}-docs
          path: |
            site
