name: test

on:
  pull_request:
    branches: ["*"]
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  INB_PIXI_VERSION: 0.54.1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build
      - run: pixi run build-pypi
      - uses: actions/upload-artifact@v4
        with:
          name: inb-${{ github.run_number }}-dist
          path: |
            dist
            .pixi/task-cache-v0
            build/reports

  lint:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: lint uv
      - run: pixi run fix
      - name: print diff
        run: |
          echo "~~~diff" >> "${GITHUB_STEP_SUMMARY}"
          git diff | tee --append "${GITHUB_STEP_SUMMARY}"
          echo "~~~" >> "${GITHUB_STEP_SUMMARY}"
      - run: pixi run lint

  test:
    needs: [build]
    name: ${{ matrix.vm }} ${{ matrix.test-env }}
    runs-on: ${{ matrix.vm }}
    strategy:
      fail-fast: false
      matrix:
        test-env: [test-min-noipy, test-min, test-prev, test-max, test-pypy]
        vm: [ubuntu-latest, macos-latest, windows-latest]
        exclude:
          - { test-env: test-min-noipy, vm: macos-latest }
          - { test-env: test-min, vm: macos-latest }
          - { test-env: test-pypy, vm: macos-latest }
        include:
          - { test-env: test-min-noipy, vm: macos-13 }
          - { test-env: test-min, vm: macos-13 }
          - { test-env: test-pypy, vm: macos-13 }
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: ${{ matrix.test-env }} uv
      - uses: actions/download-artifact@v5
        with:
          name: inb-${{ github.run_number }}-dist
      - run: pixi run ${{ matrix.test-env }}-setup
      - run: pixi run ${{ matrix.test-env }}-pytest
      - if: matrix.test-env == 'test-min' || matrix.test-env == 'test-max'
        run: pixi run ${{ matrix.test-env }}-pytest-i
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: |-
            inb-${{ github.run_number }}-${{ matrix.vm }}-${{ matrix.test-env }}
          path: |
            docs
            build/reports

  lite:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build lite
      - uses: actions/download-artifact@v5
        with:
          name: inb-${{ github.run_number }}-dist
      - run: pixi run docs-lite
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: inb-${{ github.run_number }}-lite
          path: |
            .pixi/task-cache-v0
            build/lite

  docs:
    runs-on: ubuntu-latest
    needs: [lite]
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build docs lite uv
      - uses: actions/download-artifact@v5
        with:
          name: inb-${{ github.run_number }}-dist
      - uses: actions/download-artifact@v4
        with:
          name: inb-${{ github.run_number }}-lite
      - run: pixi run build
      - run: pixi run docs
      - run: pixi run check
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: inb-${{ github.run_number }}-docs
          path: |
            site

  atest:
    needs: [lite]
    runs-on: ubuntu-latest
    env:
      ROBOT_OPTIONS: --listener GHAReports
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: atest build docs lite uv
      - uses: actions/download-artifact@v5
        with:
          name: inb-${{ github.run_number }}-dist
      - uses: actions/download-artifact@v5
        with:
          name: inb-${{ github.run_number }}-lite
      - run: pixi run atest
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: inb-${{ github.run_number }}-atest
          path: |
            .pixi/task-cache-v0
            build/reports
