name: test

on:
  pull_request:
    branches: ["*"]
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  INB_PIXI_VERSION: 0.63.2

jobs:
  build:
    runs-on: &vm_linux ubuntu-latest
    steps:
      - uses: &a_checkout actions/checkout@v6
      - uses: &a_pixi prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build
      - run: pixi run build-pypi
      - uses: &a_upload actions/upload-artifact@v6
        with:
          name: inb-${{ github.run_number }}-dist
          path: |
            dist
            .pixi/task-cache-v0
            build/reports

  lint:
    needs: [build]
    runs-on: *vm_linux
    steps:
      - uses: *a_checkout
      - uses: *a_pixi
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: lint uv
      - run: pixi run fix
      - name: print diff
        run: |
          echo "~~~diff" >> "${GITHUB_STEP_SUMMARY}"
          git diff | tee --append "${GITHUB_STEP_SUMMARY}"
          echo "~~~" >> "${GITHUB_STEP_SUMMARY}"
      - run: pixi run lint

  test:
    needs: [build]
    name: ${{ matrix.vm }} ${{ matrix.test-env }}
    runs-on: ${{ matrix.vm }}
    strategy:
      fail-fast: false
      matrix:
        test-env:
          - test-max
          - test-min
          - test-min-noipy
          - test-next
          - test-next-noipy
          - test-prev
          - test-pypy
        vm: [*vm_linux, &vm_mac_arm macos-latest, windows-latest]
        exclude:
          - { test-env: test-min-noipy, vm: *vm_mac_arm }
          - { test-env: test-min, vm: *vm_mac_arm }
          - { test-env: test-pypy, vm: *vm_mac_arm }
        include:
          - { test-env: test-min-noipy, vm: &vm_mac_intel macos-15-intel }
          - { test-env: test-min, vm: *vm_mac_intel }
          - { test-env: test-pypy, vm: *vm_mac_intel }
    steps:
      - uses: *a_checkout
      - uses: *a_pixi
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: ${{ matrix.test-env }} uv
      - uses: &a_download actions/download-artifact@v7
        with:
          name: inb-${{ github.run_number }}-dist
      - run: pixi run ${{ matrix.test-env }}-setup
      - run: pixi run ${{ matrix.test-env }}-pytest
      - if: matrix.test-env == 'test-min' || matrix.test-env == 'test-max'
        run: pixi run ${{ matrix.test-env }}-pytest-i
      - if: always()
        uses: *a_upload
        with:
          name: |-
            inb-${{ github.run_number }}-${{ matrix.vm }}-${{ matrix.test-env }}
          path: |
            docs
            build/reports

  lite:
    runs-on: *vm_linux
    needs: [build]
    steps:
      - uses: *a_checkout
      - uses: *a_pixi
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build lite
      - uses: *a_download
        with:
          name: inb-${{ github.run_number }}-dist
      - run: pixi run docs-lite
      - if: always()
        uses: *a_upload
        with:
          name: inb-${{ github.run_number }}-lite
          path: |
            .pixi/task-cache-v0
            build/lite

  docs:
    runs-on: *vm_linux
    needs: [lite]
    steps:
      - uses: *a_checkout
      - uses: *a_pixi
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: build docs lite uv
      - uses: *a_download
        with:
          name: inb-${{ github.run_number }}-dist
      - uses: *a_download
        with:
          name: inb-${{ github.run_number }}-lite
      - run: pixi run build
      - run: pixi run docs
      - run: pixi run check
      - if: always()
        uses: *a_upload
        with:
          name: inb-${{ github.run_number }}-docs
          path: |
            site

  atest:
    needs: [lite]
    runs-on: *vm_linux
    env:
      ROBOT_OPTIONS: --listener GHAReports
    steps:
      - uses: *a_checkout
      - uses: *a_pixi
        with:
          pixi-version: v${{ env.INB_PIXI_VERSION }}
          cache: true
          environments: atest build docs lite uv
      - uses: *a_download
        with:
          name: inb-${{ github.run_number }}-dist
      - uses: *a_download
        with:
          name: inb-${{ github.run_number }}-lite
      - run: pixi run atest
      - if: always()
        uses: *a_upload
        with:
          name: inb-${{ github.run_number }}-atest
          path: |
            .pixi/task-cache-v0
            build/reports
